body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
text-align:center;
}

header{
background:#111;
padding:20px;
box-shadow:0 0 15px #00ffc3;
}

h1{
color:#00ffc3;
}

.final-match{
margin-top:80px;
}

.match{
display:flex;
justify-content:center;
align-items:center;
gap:60px;
margin-top:40px;
}

.team img{
width:120px;
height:120px;
}

.team h3{
margin-top:10px;
}

.vs{
font-size:40px;
font-weight:bold;
color:#00ffc3;
}

.date{
margin-top:30px;
font-size:18px;
color:#ccc;
}