*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#08111f;
color:white;
padding:40px;
text-align:center;

}

h1{

margin-bottom:40px;

}

/* FIXTURE CONTAINER */

.fixture-container{

display:flex;
flex-direction:column;
align-items:center;
gap:25px;

}

/* MATCH CARD */

.fixture-card{

display:flex;
align-items:center;
justify-content:space-between;

background:#0c1b2f;

padding:25px;
width:550px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.5);

}

/* TEAM */

.team{

display:flex;
flex-direction:column;
align-items:center;

}

.team img{

width:60px;
height:60px;
object-fit:contain;
margin-bottom:5px;

}

/* VS SECTION */

.vs{

text-align:center;
font-size:18px;
color:orange;

}

.vs span{

display:block;
font-size:14px;
color:white;
margin-top:5px;

}

/* MOBILE */

@media(max-width:600px){

.fixture-card{

width:95%;

}

}