body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0a1f44,#1c6b7f);
color:white;
}

.container{
text-align:center;
padding:40px;
}

h3{
letter-spacing:3px;
opacity:0.8;
}

h1{
font-size:50px;
margin-bottom:40px;
}

.fixture{
display:flex;
align-items:center;
justify-content:center;
background:rgba(0,0,50,0.6);
margin:15px auto;
padding:15px;
width:70%;
border-radius:10px;
}

.date{
width:100px;
color:#00ffff;
font-weight:bold;
}

.team{
display:flex;
align-items:center;
gap:10px;
width:200px;
}

.team img{
width:40px;
height:40px;
}

.vs{
font-size:22px;
font-weight:bold;
margin:0 20px;
color:#00ffff;
}

.time{
width:80px;
color:#00ffff;
font-weight:bold;
}

@media(max-width:768px){

.fixture{
flex-direction:column;
gap:10px;
width:90%;
}

}