.live-card{

display:flex;
align-items:center;
justify-content:center;
gap:40px;

background:#0c1b2f;
padding:30px;
margin:40px auto;
width:500px;

border-radius:10px;

}

.team{
text-align:center;
}

.team img{
width:60px;
}

.score{

font-size:40px;
font-weight:bold;
color:orange;

}