body{
background:#0a0a0a;
color:white;
font-family:Arial;
text-align:center;
}

table{
margin:auto;
width:80%;
background:#111;
}

button{
background:#00ff88;
border:none;
padding:10px;
cursor:pointer;
}

@media(max-width:600px){

table{
width:100%;
}

}