body{
background:#000;
color:white;
text-align:center;
font-family:Arial;
}

table{
margin:auto;
border-collapse:collapse;
width:70%;
}

th,td{
border:1px solid #00ffc3;
padding:10px;
}

th{
background:#111;
}